<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trámites</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar trámite..."
      (ionInput)="onSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!isLoading; else loadingTpl">
    <ng-container *ngIf="!error; else errorTpl">
      <ion-list *ngIf="filteredProcedures.length > 0; else emptyTpl">
        <ion-card
          *ngFor="let p of filteredProcedures"
          (click)="goToDetail(p.slug)"
          button
        >
          <ion-item lines="none">
            <ion-icon
              name="document-text-outline"
              slot="start"
              class="procedure-icon"
            ></ion-icon>
            <ion-label>
              <h2>{{ p.name }}</h2>
              <p>{{ p.description }}</p>
            </ion-label>
            <ion-note slot="end" class="days-note">
              <ion-icon name="time-outline"></ion-icon>
              {{ p.estimatedDays }} días
            </ion-note>
          </ion-item>
        </ion-card>
      </ion-list>

      <ng-template #emptyTpl>
        <div class="ion-text-center ion-padding">
          <p>No se encontraron trámites</p>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #errorTpl>
      <div class="ion-text-center ion-padding">
        <ion-icon name="alert-circle-outline" color="danger" size="large"></ion-icon>
        <p>{{ error }}</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="ion-text-center ion-padding">
      <ion-spinner></ion-spinner>
      <p>Cargando trámites...</p>
    </div>
  </ng-template>
</ion-content>
